<p id="notice"><%= notice %></p>
<% require 'net/http'
require 'json'

url = 'http://localhost:3000/markets'
uri = URI(url)
markets = Net::HTTP.get(uri)
hmarkets = JSON.parse(markets)

url = 'http://localhost:3000/rates'
uri = URI(url)
rates = Net::HTTP.get(uri)
hrates = JSON.parse(rates)

url = 'http://localhost:3000/currencies'
uri = URI(url)
currencies = Net::HTTP.get(uri)
hcurrencies = JSON.parse(currencies)

rcurrencies = hcurrencies.reverse

%>

<h1>Calculator</h1>
<p>Base Currency </p>
<form onchange="myFunction()">
  <select id="one">
    <%hmarkets.each do |mar| %>
    <option>
        <% render 'application/renderMarketNames' %>
    </option>
    <% end %>
      </select><input type="text" name="bcurrency" id="bcurr" ><br>
      <p>Quoted Currency</p>
      <input type="text" name="qcurrency" id="qcurr" ><br>
    </form>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
  var x = document.getElementById("one");

  document.getElementById("demo").innerHTML = x.value;
}
</script>