<p id="notice"><%= notice %></p>

<h2 align="center">FAQs</h2>

<h3>Is this data official?</h3>
      <strong>No!</strong>
      <p>
        The market observations on this WEBSITE are from unofficial sources, mainly the streets of Harare and from other available sources such as Social Media.
      </p>
      <p>DO NOT ASSUME THAT THE INFORMATION IS ACCURATE, CORRECT OR OFFICIAL. FOR OFFICIAL RATES, PLEASE CHECK WITH YOUR LOCAL BANK OR DIRECTLY WITH THE RESERVE BANK OF ZIMBABWE.
      </p>
      <p>
        The information displayed on this website is strictly for investigating the rumored exchange rates and keeping record of such rumors for the sole purpose of studying and researching on the impact of currency speculations on the economy.
      </p>
      <p>
        Please note, foreign currency dealing outside official banking channels or with unauthorized individuals is illegal and may attract heavy penalties or imprisonment. We strongly discourage illegal forex dealing and advise all to only deal with the bank or with authorized bureau de change.
      </p>
  <h3>What is OMIR, RTGS AND BOND?</h3>
      <p>
      <strong>OMIR</strong> - Zimbabwe’s electronic money is officially valued at 1:1 against the U.S. dollar but in reality is worth much less. The 'Old Mutual Implied Rate' is an indicative comparison of the price of shares of insurer Old Mutual in London and Harare.
      </p>
      <p>
        <strong>RTGS</strong> - Real Time Gross Settlement is a system used for interbank funds transfers. These transfers often require immediate and complete clearing and are usually organized by a country’s central bank. In Zimbabwe's context, an RTGS balance refers to a person's bank account balance which is not exactly a USD balance.
      </p>
      <p>
        <strong>Bond</strong> - The Zimbabwe Bond Note is a surrogate currency issued by the Reserve Bank of Zimbabwe in 2016 against a loan facility from the African Export-Import Bank. Officially, the Bond Note is equivalent in value to the US Dollar, although in the market, people have placed less value on the bond.
      </p>

